body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Arial Black", serif;
}

.aside {
    top: 0;
    position:fixed;
    width: 200px;
    height: 100%;
    background: #333;
    box-shadow: 0 0 15px -2px;
}

.aside .logo {
    width: 160px;
    height: 160px;
    border: 1px solid black;
    margin: 20px;
}

.aside .logo:before {
    content: '';
    display: block;
    position: relative;
    top: 170px;
    width: 90%;
    height: 2px;
    background: gold;
}

.aside .logo:after {
    overflow: hidden;
    content: '';
    display: block;
    position: relative;
    top: 175px;
    width: 80%;
    height: 2px;
    background: black;
}

.links {
    margin: 10px 0;
    padding: 10px 0;
    width: 180px;
    height: 100%;
}

.links a {
    padding: 0 20px;
    font-size: 1.5em;
    color: #333;
    font-family: "Arial Black", serif;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #222;

    transition: background-color .5s;
}

.links a.active{
    background-color: gold;
}

.scene {
    cursor: none;
    position: fixed;
    left: 200px;
    top: 0;
    padding: 100px;
    width: calc(100% - 400px);
    height: calc(100%  - 200px);
}

.scene .page{
    width: 100%;
    height: 100%;
}

.scene .page h1.greeting {
    margin: 200px 0 0 0 ;
    text-align: center;
    color: gold;
    font-size: 12em;
}

.dashed:after {
    content: '|';
    position: relative;
    top: -0.1em;
    animation: blink-animation 1s steps(5,start) infinite;
    -webkit-animation: blink-animation 1s steps(5,start) infinite;
}

.cursive {
    margin: 0;
    text-align: center;
    font-family: 'Pinyon Script', cursive;
    font-size: 4em;
}

.name {
    font-size: 6em;
    color: gold;
    text-shadow: black 1px 3px 8px;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

